.header {
  display: flex;
  height: 75px;
  width: inherit;
  background-color: #008e9b;
  align-items: center;
}

.logoHead {
  margin-left: 25px;
}

.spanHead {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  margin-left: 25px;
}
